In [2]:
import pandas as pd
import numpy as np

In [3]:
# Put all ABSA data into one dataframe
# It will be divided into train and test at a later stage

pos_neg_file = "../data/raw/trustpilot/sv.csv"
neu_file = "../data/raw/trustpilot/trustpilot_neutral.txt"

In [4]:
pos_neg_df = pd.read_csv(pos_neg_file, delimiter = ",")
neu_df = pd.read_table(neu_file)

In [5]:
neu_df = neu_df.dropna() # Drop NaN

In [6]:
pos_neg_df

                                                   text  label
0     Precis som flera andra skriver så har jag ocks...      0
1        Fungerar utmärkt, jag är väldigt nöjd mer Aros      1
2     Jag gillar Mode Cold Brew Coffee det har en go...      1
3     Grym på både tatueringar och piercings! Och ma...      1
4                          Snabb leverans o bra service      1
...                                                 ...    ...
9995  Teloteket är det sämsta tänkbara, met oseriösa...      0
9996  Snabb leverans. Tyvärr var höjdinställningsskr...      1
9997  Bra prylar till bra priser.Grym service och sm...      1
9998   Min beställning kom snabbt o korrekt. Jättenöjd.      1
9999  Min butik säljer kläder som är snygga och som ...      1

[10000 rows x 2 columns]

In [7]:
neu_df.columns =['text', 'label']

In [8]:
df = pd.concat([pos_neg_df, neu_df], ignore_index=True)

In [9]:
#pos_neg_df.append(neu_df)

In [10]:
df = pd.concat([pos_neg_df, neu_df], ignore_index=True)

In [11]:
df["label"] = df["label"].apply(np.ceil).astype(str) # Round up to get label and convert to int

In [12]:
df["label"] = df["label"].replace(["0.0", "1.0", "3.0"], ["0.0", "2.0", "1.0"])
df["label"] = pd.to_numeric(df["label"])
df["label"] = df["label"].astype(int)

#df["label"] = df["label"].replace(["2", "3", "4", "5"], ["1", "2", "3", "3"]) # Normalize values on a 1-3 scale where 1 is negative, 2 is neutral and 3 is positive (I think)

In [13]:
df.value_counts("label")

label
0    5000
2    5000
1    3114
dtype: int64

In [14]:
df = df[["text", "label"]]

In [15]:
df.to_csv("../data/processed/trustpilot.csv")